backgroundImage:"background.jpg";

OnStart {
	
}

OnLoop {
	zone(36.0, 6.0, 4.0, 2.0):
		morph(x,y+1,GROUND,STONE_BACKGROUND) &	
		morph(x,y+2,GROUND,STONE_BACKGROUND) &
		morph(x,y+3,GROUND,STONE_BACKGROUND) &
		morph(x,y+4,GROUND,STONE_BACKGROUND);
		
	zone(18.0, 16.0, 2.0, 1.0): reposeTo(2,-7);
}